<div class="side_bar">
  <div class="side_upper">
    <div class="user_name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="chat_create">
      <%= link_to "チャットを作成する", new_room_path %>
    </div>
  </div>
  <div class="side_lower">
    <%current_user.rooms.each do |f|%>  
    <div class="chatroom">
      <div class="room_name">
        <%=link_to f.name, rooms_path(current_user)%>
      </div>
    </div>
    <%end%>
  </div>
</div>