.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.side_bar{
  width: 300px;
  background-color: #253141;
  height: 100%;
}
.side_upper{
  height: 100px;
  padding: 0 20px;
}
.side_lower{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}
.main_chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100%;
}
.chat_upper{
  height: 100px;
  padding: 0 40px;
}
.chat_middle{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding-top: 46px 40px 0;
}
.chat_lower{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}